
.back-drop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90;
  }
  @media (min-width:991px) {
    .back-drop {
        display: none !important;
    }
  }