:root {
  --color-redlow: #f45454;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blackgray: #464654;
  --color-general: #797979;
  --color-secendery: #464654;
  --color-wraning: #f9f9ff;
  --color-light :#f9f9ff;
  --color-green:#09b800
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.bg-gray {
  background-color:#e6e5e5 ;
}

.loading-Page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  z-index: 200;
  transition: all .3s;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #7f7fff;
  border-color: var(--color-redlow) transparent var(--color-redlow) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}